.modal-wrapper {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 97, 0.5);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    max-width: 80%;
    max-height: 80%;
    color:black;
}

.modal-header {
    background: rgba(2, 14, 24, 0.651);
    height: 3vw;
    line-height: 40px;
    padding: 0.4vw 1vw;
    color: white;
}

.modal-header h3 {
    text-align: center;
}

.modal-footer {
    background: rgba(2, 14, 24, 0.651);
    height: 4vw;
    padding: 1vw;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


.close-modal-btn:hover {
    color: black;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

/* .btn-continue {
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
    background-color: #1b5e20;
    float: right;
} */

/* .btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}
.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
} */