html, body, #root {
    height: 100%;
    width: 100%;
    direction: rtl;
}

.form-wrapper {
    width: 50%;
}

.headline{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 20px;
}

.contact-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.form-group {
    display: flex !important;
    flex-direction: column !important;
}

label {
    text-align: right;
    font-weight: bold;
    font-size: 15px;
}

.checkbox {
    direction: rtl;
    text-align: right;
}

.DropDown {
    text-align: right;
}

.button-wrapper{
    width: 56.5%;
    justify-content: center;
}

.buttons-wrapper button{
    width: 46.5%;
    margin-left: 2.5%;
}

.style__hyper-modal-content-wrapper___1-Dl8 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8vh;
    text-align: center;
    /* align-items: center; */
}

.padding {
    margin-top: 5%;
}

.Overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
}

.Modal {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,97,0.5);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    /* max-width: 80%;
    max-height: 80%; */
}
